
/EasyAntiCheat
/movie
/sd
/crashdumps
oo2core_6_win64.dll
amd_ags_x64.dll
bink2w64.dll
Data0.bdt
Data0.bhd
Data1.bdt
Data1.bhd
Data2.bdt
Data2.bhd
Data3.bdt
Data3.bhd
eldenring.exe
eossdk-win64-shipping.dll
eossdk-win64-shipping.so
start_protected_game.exe
steam_api64.dll

regulation.bin
!mod/regulation.bin
!ModEngine-2.1.0.0-win64/mod/regulation.bin

*log
*log.txt
*.cache
*.cache.write
/action
/asset
/chr
/cutscene
/event
/expression
/facegen
/font
/map
/material
/menu
/msg
/mtd
/other
/param
/parts
/script
/sfx
/shader
/sound
steam_appid.txt
