
/EasyAntiCheat
/movie
oo2core_6_win64.dll
/sd
amd_ags_x64.dll
bink2w64.dll
Data0.bdt
Data0.bhd
Data1.bdt
Data1.bhd
Data2.bdt
Data2.bhd
Data3.bdt
Data3.bhd
eldenring.exe
eossdk-win64-shipping.dll
eossdk-win64-shipping.so
regulation.bin
!mod/regulation.bin
!ModEngine-2.1.0.0-win64/mod/regulation.bin
start_protected_game.exe
steam_api64.dll
/crashdumps
mod_loader_log.txt
ModEngine-2.1.0.0-win64/modengine2/logs/modengine_2024-05-04.log
mods/FasterRespawn/log.txt
mods/UltrawideFix/log.txt
mods/UnlockTheFps/log.txt
